
nav{
    height: 10vh;

}
div .card{
    /* height: 100%!important; */
}

.img-card{
    height: 40% !important;
}
.catalogo{
    margin-bottom: 30px!important;
}
.producto img{
    width: 300px;
    height: 460px;
}
.producto {
    border-color: darkcyan !important;
}
nav a.nav-link:hover{
    color: darkcyan;
    font-weight:600;
}
.btn.btn-outline-primary{
   width: 100% !important;
   --bs-btn-color:darkcyan;
   --bs-btn-border-color:darkcyan;
   --bs-btn-hover-bg:darkcyan;
   --bs-btn-hover-border-color:darkcyan;
   --bs-btn-active-bg:darkcyan;
   --bs-btn-active-border-color:darkcyan;
   font-weight: 600;

}
.filtros> a{
    color: gray;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}

.filtros{text-align: center;
}
.card{
    --bs-card-border-color:rgb(174, 220, 220);
}
.contenedor-head{
    padding-left: 8%;
}
footer{
    height: 10vh;
    /* margin-top: 30px; */
    background-color: rgb(248 249 250);
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;

}
footer li{
    list-style: none;
    margin: 40px;
}