/* Estilos generales o cambiados de los valores default de bootstrap */
nav{
    min-height: 10vh;
    
}
main{
    margin: 0;
}
.row{
    --bs-gutter-x:0!important

}
strong{
    font-weight: none;
   
}
em{
    font-style: normal;
}
.form-autor{
padding: 40px;
margin: 0 auto;
}
.form-autor> button{
    margin-top: 40px;
    margin-bottom: 40px;
}
.navbar h1 a {
    background-image: url(../../images/logo1.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain!important;
    text-indent: -9999px!important;
    display: inline-block!important;
    height: 80px!important;
    width: 160px!important;
    
}
textarea{
    resize: none;
}
nav a.nav-link:hover{
    color: darkcyan;
    font-weight:600;
}
.btn.btn-primary {
    --bs-btn-color: #fff !important;
    --bs-btn-bg:  darkcyan!important;
    --bs-btn-border-color:  darkcyan!important;
    --bs-btn-hover-color:  darkcyan!important;
    --bs-btn-hover-bg: white !important;
    --bs-btn-hover-border-color:  darkcyan!important;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    
}
.btn-escalante-edit{
    --bs-btn-bg:rgb(187, 187, 96)!important;
   --bs-btn-border-color:rgb(187, 187, 96)!important;

   --bs-btn-color:black!important;

}
.btn-escalante-edit{
    --bs-btn-bg:rgb(211, 77, 77)!important;
   --bs-btn-border-color:rgb(211, 77, 77)!important;

   --bs-btn-color:white!important;

}
.btn.btn-outline-primary{
   width: 100% !important;
   --bs-btn-color:darkcyan!important;
   --bs-btn-border-color:darkcyan!important;
   --bs-btn-hover-bg:darkcyan!important;
   --bs-btn-hover-border-color:darkcyan!important;
   --bs-btn-active-bg:darkcyan!important;
   --bs-btn-active-border-color:darkcyan!important;
   font-weight: 600;

}
.contenedor-head{
    padding-left: 8%;
}
/* Estilos de la seccion catalogo */
.catalogo{
    margin-bottom: 30px!important;
}

.card{
    --bs-card-border-color:rgb(174, 220, 220);
}
/* Estilos de la seccion de locales */
.locales h3{
    font-size: 1.2rem;
}
.locales img{
    border-radius: 8px;
}
.locales form{
    border:1px solid darkcyan;
    border-radius: 8px;
}
.locales form p{
    font-size: 1.5rem;
    font-weight: 600;
}
.card{
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

/* Estilos de los contenedor al filtrar por id */
.producto .contenedor1 img{
    width: 25vh;
    height: 40vh;
}
.producto {
    border-color: darkcyan !important;
}
/* Estilos de los filtros por generos */
.filtros> a{
    color: gray;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.filtros a:hover{
    font-weight:500;
    color: darkcyan;
}
.filtros{text-align: center;
}

/* Estilos de la seccion alumna */
.alumna a{
    color: darkcyan;
}
.alumna a:hover{
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: darkcyan;
}

/* Estilos del footer */
footer{
    min-height: 10vh;
    background-color: rgb(248 249 250);
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}
footer li{
    list-style: none;
    margin: 40px;
}
